
.my-card{
    width: 340px;
    height: 340px;
    background: #ffffff;
    margin: 10px;
    padding: 20px;
}

.my-weight-font{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /*font-weight: bolder;*/
}
.my-login-card{
    width: 747px;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    display: flex;
}
.my-login-image{
    width: 458px;
    /*height: 800px;*/
    background-image: url("../image/画画.jpg");
    background-size: 343px;
    background-repeat: no-repeat;
}
.b-container{
    position: relative;
    /*border: 1px rebeccapurple solid;*/
    width: 1680px;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
    background: #fafafa;
}
.b-header{
    /*padding: 30px;*/
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    height: 80px;
    margin-bottom: 10px;
}
.b-header-container{
    width: 1200px;
    height: 20px;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
}

.card{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: inline-block;
    margin: 10px
}
.b-weight-font{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
